<ion-header >
  <ion-toolbar color="tertiary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none" class="profile">
    <img slot="start" height="50" width="50" src="../../assets/profile.jpg" alt="photo profil">
    <ion-label>
      <h4>Isable go &nbsp;&nbsp; <ion-icon name="shield-checkmark-outline" color="tertiary"> . 19</ion-icon></h4>
      <p>Baby-sitter à Barcelone</p>
    </ion-label>
  </ion-item>
  <div class="ion-padding-start">
    <div>
      <p class="title">Présentation</p>
    </div>
    <div>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Necessitatibus minima eaque commodi esse unde temporibus nemo.
        Laudantium voluptate voluptatum aliquid, odio assumenda similique iusto,
        minus dolorem culpa inventore ad itaque.</p>
    </div>
  </div>
  <ion-item lines="none" style="border:1px solid #dedede;">
    <ion-label class="title">Dispobilités</ion-label>
  </ion-item>
  <div>
    <ion-datetime
    presentation="date"
    [multiple]="true"
    [value]="['2022-06-03', '2022-06-13', '2022-06-29']"
    ></ion-datetime>
  </div>
  <ion-item lines="none" style="border:1px solid #dedede;">
    <ion-label class="title">A propos de moi</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon slot="start" size="small" name="card-outline"></ion-icon>
    <ion-label>Permi de conduire</ion-label>
    <p slot="end" class="response">Oui</p>
  </ion-item>
  <ion-item>
    <ion-icon color="dark" slot="start" name="car-sport-outline"></ion-icon>
    <ion-label>Voiture</ion-label>
    <p slot="end" class="response">Oui</p>
  </ion-item>
  <ion-item>
    <ion-icon color="dark" slot="start" name="accessibility-outline"></ion-icon>
    <ion-label>Voiture</ion-label>
    <p slot="end" class="response">Oui</p>
  </ion-item>

  <ion-item>
    <ion-icon slot="start" color="dark" name="color-wand-outline"></ion-icon>
    <ion-label>Fumeur</ion-label>
    <p slot="end" class="response">Oui</p>
  </ion-item>

  <ion-item>
    <ion-icon slot="start" color="dark" name="business-outline" lines="none"></ion-icon>
    <ion-label>Préférence du lieu <br> de baby-sitting</ion-label>
    <p slot="end" class="response">Oui</p>
  </ion-item>

  <ion-item lines="none" >
    <ion-icon slot="start" color="dark" name="language-outline"></ion-icon>
    <ion-label>Langue parlé </ion-label>
    <p slot="end" class="response">Oui</p>
  </ion-item>


  <ion-item lines="none" style="border:1px solid #dedede;">
    <ion-label class="title">Vérification du compte</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon slot="start" size="small" name="card-outline"></ion-icon>
    <ion-label>Carte d'identité</ion-label>
    <p slot="end" class="response">Oui</p>
  </ion-item>
  <ion-item>
    <ion-icon color="dark" slot="start" name="car-sport-outline"></ion-icon>
    <ion-label>Extrait de cassier judiciaire</ion-label>
    <p slot="end" class="response">Oui</p>
  </ion-item>

  

  <ion-item lines="none" style="border:1px solid #dedede;">
    <ion-label class="title">Satisfaction pour service rendu</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon color="dark" slot="start" name="happy-outline"></ion-icon>
    <ion-label>Clients satisfaits <br> <a href="">Voir les commentaires</a></ion-label>
    <p slot="end" class="response">20</p>
  </ion-item>
  <ion-item>
    <ion-icon color="dark" slot="start" name="sad-outline"></ion-icon>
    <ion-label>Clients insatisfaits <br> <a href="">Voir les commentaires</a></ion-label>
    <p slot="end" class="response">2</p>
  </ion-item>
  
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>2000 Fcfa/Heure</ion-title>
    <ion-button (click)="onShowModalPage()" slot="end" color="tertiary" expand="full">
      Contacter
    </ion-button>
  </ion-toolbar>
</ion-footer>