ion-title{
    font-size: 14px;
    font-weight: bold;
}

.title{
    font-weight: bold;
}

ion-content{
    font-size: 14px;

    ion-item{
        font-size: 14px;

        .response{
            color: #6a64ff;
            font-weight: bold;
        }
    }
}

.profile{

    img{
        border-radius: 5px;
    }

    h4{
        font-weight: bold;
        font-size: 18px;
    }

    p{
        font-style: italic;
        font-size: 12px;
    }
}

