<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-searchbar class="ion-no-border"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header> 20 Profiles disponibles </ion-list-header>
    <ion-item lines="none" *ngFor="let babysister of babySister; let i= index ">
      <div slot="start" style="margin-top:-33px;">
        <img height="50" width="50" src="../../assets/profile.jpg" alt="photo profil">
      </div>
      <div>
        <ion-label>
          <h4>{{babysister.seddonime}}</h4>
          <p>Listen, I've had a  messed  messed  messed pretty messed up day fgsd...</p>
        </ion-label><br>
        <ion-label class="details">
          <p>Missions effectués : 01</p>
          <span>2000 FCFA/HEURE</span>
        </ion-label>
      </div>
      <ion-icon [color]="(babysister.isLike) ? 'danger': ''" slot="end" name="heart-outline" (click)="onAddToFavorite(i)"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>