ion-title{
    font-size: 14px;
    color: black;
    font-weight: bold;
}

ion-searchbar{
    --color: black;
    //--box-shadow: none;
}

img{
    border-radius: 5px;
}

.details{
    margin-top: -14px;
    border-top: 1px solid ghostwhite;
}
h4{
    font-weight: bold;
}

span{
    font-size: 12px;
    font-weight: bold;
}

ion-icon{
    margin-top: -58px;
}

ion-item{
    border-bottom: 1px solid ghostwhite;
    padding-bottom: 10px;
}